<nav class="navbar bg-body-tertiary custom-bg-color">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img width="40" height="40" src="https://img.icons8.com/fluency-systems-filled/48/fc6402/crab.png"
                    alt="crab" />
                <span class="ms-2">Gastrogenius!</span>
            </a>
            <div>
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <span class="ms-1">Sing Up</span>
                </a>
            </div>
            <div>
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <span class="ms-1">About us</span>
                </a>
            </div>
        </div>

    </div>
</nav>