<!-- Login Form -->
<div class="fondo">
    <img src="https://www.edubull.com/images/blog/online-hobby-courses.jpg" alt="mujer cocinando"
        class="background-img">
    <div class="container">
        <div class="form">
            <span class="formtitle">Let's cook!</span>
            <div class="inputs">
                <input type="text" class="forminput" placeholder="email" [(ngModel)]="user">
                <div>
                    <input type="password" class="forminput" placeholder="password" [(ngModel)]="password">
                </div>
            </div>
            <div>
                <button (click)="logIn()" class="btn btn-primary log-in-btn" type="submit">Log In</button>
                <button class="btn btn-secondary sign-up-btn" type="button" data-bs-toggle="modal"
                    data-bs-target="#signUpModal">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signUpModalLabel">Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="inputs">
                    <input type="text" class="forminput" placeholder="email" [(ngModel)]="registerUser">
                    <div>
                        <input type="password" class="forminput" placeholder="password" [(ngModel)]="registerPassword">
                    </div>
                    <div>
                        <input type="text" class="forminput" placeholder="username" [(ngModel)]="registerUsername">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn signupbtnregister" (click)="signUp()">Sign Up</button>
            </div>
        </div>
    </div>
</div>