<div class="fondo">
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="https://th.bing.com/th/id/OIP.vOC7MIucub9yINOYGkxwywAAAA?rs=1&pid=ImgDetMain" alt="perfil" />
            <h2>User Name</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined"> <i class="bi bi-house-door-fill"></i></span>Home</a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-archive-fill"></i></span>My
                    Recipes</a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-plus-square-fill"></i> </span>New
                    Recipes</a>
            </li>
            <h4>
                <span>General</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-people-fill"></i>
                    </span>Community</a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-heart-fill"></i> </span>Favorites
                    Recipes</a>
            </li>
            <h4>
                <span>Account</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-person-circle"></i>
                    </span>Profile</a>
            </li>
            <li>
                <a href="#"><span class="material-symbols-outlined"> <i class="bi bi-door-open-fill"></i>
                    </span>Logout</a>
            </li>
        </ul>
    </aside>
</div>